rvl_alias "sysclk" "sysclk";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
# 25MHz clock from PHY (U13) - Pin P6
LOCATE COMP "clk_25mhz" SITE "P6" ;
FREQUENCY PORT "clk_25mhz" 25.000000 MHz ;
IOBUF PORT "clk_25mhz" IO_TYPE=LVCMOS33 ;
FREQUENCY NET "sysclk" 125.000000 MHz ;
USE PRIMARY NET "sysclk" ;
FREQUENCY NET "spiclk" 125.000000 MHz ;
FREQUENCY NET "_clk_gen/buf_CLKI" 25.000000 MHz ;
FREQUENCY NET "sysclk90" 125.000000 MHz ;
# Flash
LOCATE COMP "flash_cs" SITE "N8" ;
LOCATE COMP "flash_miso" SITE "T7" ;
LOCATE COMP "flash_mosi" SITE "T8" ;
IOBUF PORT "flash_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33 ;
CLOCK_TO_OUT PORT "flash_mosi" MAX 5.700000 ns CLKNET "sysclk" ;
CLOCK_TO_OUT PORT "flash_cs" MAX 5.700000 ns CLKNET "sysclk" ;
INPUT_SETUP PORT "flash_miso" 6.000000 ns HOLD 1.500000 ns CLKNET "spiclk" ;
#LOCATE COMP "flash_sck" SITE ""; #driven through USRMCLK
# LED (DATA_LED-) - Pin T6, active low, open drain
LOCATE COMP "led" SITE "T6" ;
IOBUF PORT "led" IO_TYPE=LVCMOS33 OPENDRAIN=ON ;
LOCATE COMP "button" SITE "R7" ;
LOCATE COMP "gpio_0" SITE "C4" ;
LOCATE COMP "gpio_1" SITE "D4" ;
LOCATE COMP "gpio_2" SITE "E4" ;
LOCATE COMP "gpio_3" SITE "D3" ;
IOBUF PORT "gpio_0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_3" IO_TYPE=LVCMOS33 ;
# MII Interface Constraints for Lattice ECP5
# Shared signals between PHY0 and PHY1
# LOCATE COMP "phy_rst_b" SITE "R6";
# LOCATE COMP "mdc" SITE "R5";
LOCATE COMP "mdio" SITE "T4" ;
IOBUF PORT "mdio" IO_TYPE=LVCMOS33 ;
# PHY0 (U11) MII Interface
# LOCATE COMP "phy0_txd[3]" SITE "R1";
# LOCATE COMP "phy0_txd[2]" SITE "P1";
# LOCATE COMP "phy0_txd[1]" SITE "M1";
# LOCATE COMP "phy0_txd[0]" SITE "M2";
# LOCATE COMP "phy0_txctl" SITE "L2";
# LOCATE COMP "phy0_txc" SITE "L1";
# LOCATE COMP "phy0_rxd[3]" SITE "K3";
# LOCATE COMP "phy0_rxd[2]" SITE "K1";
# LOCATE COMP "phy0_rxd[1]" SITE "J3";
# LOCATE COMP "phy0_rxd[0]" SITE "K2";
# LOCATE COMP "phy0_rxctl" SITE "J2";
# LOCATE COMP "phy0_rxc" SITE "J1";
# PHY1 (U13) MII Interface
LOCATE COMP "phy0_txd[3]" SITE "K15" ;
LOCATE COMP "phy0_txd[2]" SITE "J14" ;
LOCATE COMP "phy0_txd[1]" SITE "J15" ;
LOCATE COMP "phy0_txd[0]" SITE "K16" ;
LOCATE COMP "phy0_txctl" SITE "K14" ;
LOCATE COMP "phy0_txc" SITE "J16" ;
LOCATE COMP "phy0_rxd[3]" SITE "L16" ;
LOCATE COMP "phy0_rxd[2]" SITE "L15" ;
LOCATE COMP "phy0_rxd[1]" SITE "R16" ;
LOCATE COMP "phy0_rxd[0]" SITE "M15" ;
LOCATE COMP "phy0_rxctl" SITE "P16" ;
LOCATE COMP "phy0_rxc" SITE "M16" ;
FREQUENCY PORT "phy0_rxc" 125.000000 MHz ;
IOBUF PORT "phy0_txd[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "phy0_txd[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "phy0_txd[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "phy0_txd[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "phy0_txctl" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "phy0_txc" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "phy0_rxd[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "phy0_rxd[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "phy0_rxd[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "phy0_rxd[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "phy0_rxctl" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "phy0_rxc" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
# MAX is the difference between CLK-TO-OUT and TXC phase shift (2ns @ 90degrees)
# Both TXC and TXD will face same internal delays such as PLL to MGIOL clk and PAD delay (both driven from ODDR)
CLOCK_TO_OUT PORT "phy0_txd[*]" MAX 4.600000 ns MIN 1.200000 ns CLKNET "sysclk" CLKOUT PORT "phy0_txc" ;
CLOCK_TO_OUT PORT "phy0_txctl" MAX 4.600000 ns MIN 1.200000 ns CLKNET "sysclk" CLKOUT PORT "phy0_txc" ;
# SDRAM
LOCATE COMP "sdram_dq[0]" SITE "B2" ;
LOCATE COMP "sdram_dq[1]" SITE "A2" ;
LOCATE COMP "sdram_dq[2]" SITE "C3" ;
LOCATE COMP "sdram_dq[3]" SITE "A3" ;
LOCATE COMP "sdram_dq[4]" SITE "B3" ;
LOCATE COMP "sdram_dq[5]" SITE "A4" ;
LOCATE COMP "sdram_dq[6]" SITE "B4" ;
LOCATE COMP "sdram_dq[7]" SITE "A5" ;
LOCATE COMP "sdram_dq[8]" SITE "E7" ;
LOCATE COMP "sdram_dq[9]" SITE "C6" ;
LOCATE COMP "sdram_dq[10]" SITE "D7" ;
LOCATE COMP "sdram_dq[11]" SITE "D6" ;
LOCATE COMP "sdram_dq[12]" SITE "E6" ;
LOCATE COMP "sdram_dq[13]" SITE "D5" ;
LOCATE COMP "sdram_dq[14]" SITE "C5" ;
LOCATE COMP "sdram_dq[15]" SITE "E5" ;
LOCATE COMP "sdram_dq[16]" SITE "A11" ;
LOCATE COMP "sdram_dq[17]" SITE "B11" ;
LOCATE COMP "sdram_dq[18]" SITE "B12" ;
LOCATE COMP "sdram_dq[19]" SITE "A13" ;
LOCATE COMP "sdram_dq[20]" SITE "B13" ;
LOCATE COMP "sdram_dq[21]" SITE "A14" ;
LOCATE COMP "sdram_dq[22]" SITE "B14" ;
LOCATE COMP "sdram_dq[23]" SITE "D14" ;
LOCATE COMP "sdram_dq[24]" SITE "D13" ;
LOCATE COMP "sdram_dq[25]" SITE "E11" ;
LOCATE COMP "sdram_dq[26]" SITE "C13" ;
LOCATE COMP "sdram_dq[27]" SITE "D11" ;
LOCATE COMP "sdram_dq[28]" SITE "C12" ;
LOCATE COMP "sdram_dq[29]" SITE "E10" ;
LOCATE COMP "sdram_dq[30]" SITE "C11" ;
LOCATE COMP "sdram_dq[31]" SITE "D10" ;
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[18]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[19]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[20]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[21]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[22]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[23]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[24]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[25]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[26]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[27]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[28]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[29]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[30]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[31]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sdram_addr[0]" SITE "A9" ;
LOCATE COMP "sdram_addr[1]" SITE "B9" ;
LOCATE COMP "sdram_addr[2]" SITE "B10" ;
LOCATE COMP "sdram_addr[3]" SITE "C10" ;
LOCATE COMP "sdram_addr[4]" SITE "D9" ;
LOCATE COMP "sdram_addr[5]" SITE "C9" ;
LOCATE COMP "sdram_addr[6]" SITE "E9" ;
LOCATE COMP "sdram_addr[7]" SITE "D8" ;
LOCATE COMP "sdram_addr[8]" SITE "E8" ;
LOCATE COMP "sdram_addr[9]" SITE "C7" ;
LOCATE COMP "sdram_addr[10]" SITE "B8" ;
IOBUF PORT "sdram_addr[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_addr[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_addr[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_addr[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_addr[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_addr[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_addr[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_addr[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_addr[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_addr[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_addr[10]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sdram_ba[0]" SITE "B7" ;
LOCATE COMP "sdram_ba[1]" SITE "A8" ;
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sdram_we_n" SITE "B5" ;
IOBUF PORT "sdram_we_n" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sdram_cas_n" SITE "A6" ;
IOBUF PORT "sdram_cas_n" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sdram_ras_n" SITE "B6" ;
IOBUF PORT "sdram_ras_n" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sdram_clk" SITE "C8" ;
IOBUF PORT "sdram_clk" IO_TYPE=LVCMOS33 ;
SYSCONFIG CONFIG_IOVOLTAGE=3.3 CONFIG_MODE=JTAG MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE MCCLK_FREQ=62 ;
CLOCK_TO_OUT PORT "phy0_txc" 4.100000 ns CLKNET "sysclk90" ;
BLOCK JTAGPATHS;
