# 25MHz clock from PHY (U13) - Pin P6
LOCATE COMP "clk_25mhz" SITE "P6";
IOBUF PORT "clk_25mhz" IO_TYPE=LVCMOS33;

# LED (DATA_LED-) - Pin T6, active low, open drain
LOCATE COMP "led" SITE "T6";
IOBUF PORT "led" IO_TYPE=LVCMOS33 OPENDRAIN=ON;

LOCATE COMP "button" SITE "R7";

LOCATE COMP "uart_tx" SITE "C4";
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;

# MII Interface Constraints for Lattice ECP5
# Shared signals between PHY0 and PHY1
LOCATE COMP "phy_rst_b" SITE "R6";
LOCATE COMP "mdc" SITE "R5";
LOCATE COMP "mdio" SITE "T4";

# PHY0 (U11) MII Interface
LOCATE COMP "phy0_txd[3]" SITE "R1";
LOCATE COMP "phy0_txd[2]" SITE "P1";
LOCATE COMP "phy0_txd[1]" SITE "M1";
LOCATE COMP "phy0_txd[0]" SITE "M2";
LOCATE COMP "phy0_txctl" SITE "L2";
LOCATE COMP "phy0_txc" SITE "L1";
LOCATE COMP "phy0_rxd[3]" SITE "K3";
LOCATE COMP "phy0_rxd[2]" SITE "K1";
LOCATE COMP "phy0_rxd[1]" SITE "J3";
LOCATE COMP "phy0_rxd[0]" SITE "K2";
LOCATE COMP "phy0_rxctl" SITE "J2";
LOCATE COMP "phy0_rxc" SITE "J1";

# SDRAM
LOCATE COMP "sdram_dq[0]" SITE "B2";
LOCATE COMP "sdram_dq[1]" SITE "A2";
LOCATE COMP "sdram_dq[2]" SITE "C3";
LOCATE COMP "sdram_dq[3]" SITE "A3";
LOCATE COMP "sdram_dq[4]" SITE "B3";
LOCATE COMP "sdram_dq[5]" SITE "A4";
LOCATE COMP "sdram_dq[6]" SITE "B4";
LOCATE COMP "sdram_dq[7]" SITE "A5";
LOCATE COMP "sdram_dq[8]" SITE "E7";
LOCATE COMP "sdram_dq[9]" SITE "C6";
LOCATE COMP "sdram_dq[10]" SITE "D7";
LOCATE COMP "sdram_dq[11]" SITE "D6";
LOCATE COMP "sdram_dq[12]" SITE "E6";
LOCATE COMP "sdram_dq[13]" SITE "D5";
LOCATE COMP "sdram_dq[14]" SITE "C5";
LOCATE COMP "sdram_dq[15]" SITE "E5";
LOCATE COMP "sdram_dq[16]" SITE "A11";
LOCATE COMP "sdram_dq[17]" SITE "B11";
LOCATE COMP "sdram_dq[18]" SITE "B12";
LOCATE COMP "sdram_dq[19]" SITE "A13";
LOCATE COMP "sdram_dq[20]" SITE "B13";
LOCATE COMP "sdram_dq[21]" SITE "A14";
LOCATE COMP "sdram_dq[22]" SITE "B14";
LOCATE COMP "sdram_dq[23]" SITE "D14";
LOCATE COMP "sdram_dq[24]" SITE "D13";
LOCATE COMP "sdram_dq[25]" SITE "E11";
LOCATE COMP "sdram_dq[26]" SITE "C13";
LOCATE COMP "sdram_dq[27]" SITE "D11";
LOCATE COMP "sdram_dq[28]" SITE "C12";
LOCATE COMP "sdram_dq[29]" SITE "E10";
LOCATE COMP "sdram_dq[30]" SITE "C11";
LOCATE COMP "sdram_dq[31]" SITE "D10";

LOCATE COMP "sdram_addr[0]" SITE  "A9";
LOCATE COMP "sdram_addr[1]" SITE  "B9";
LOCATE COMP "sdram_addr[2]" SITE  "B10";
LOCATE COMP "sdram_addr[3]" SITE  "C10";
LOCATE COMP "sdram_addr[4]" SITE  "D9";
LOCATE COMP "sdram_addr[5]" SITE  "C9";
LOCATE COMP "sdram_addr[6]" SITE  "E9";
LOCATE COMP "sdram_addr[7]" SITE  "D8";
LOCATE COMP "sdram_addr[8]" SITE  "E8";
LOCATE COMP "sdram_addr[9]" SITE  "C7";
LOCATE COMP "sdram_addr[10]" SITE "B8";

LOCATE COMP "sdram_ba[0]" SITE "B7";
LOCATE COMP "sdram_ba[1]" SITE "A8";

LOCATE COMP "sdram_we_n" SITE "B5";
LOCATE COMP "sdram_cas_n" SITE "A6";
LOCATE COMP "sdram_ras_n" SITE "B6";
LOCATE COMP "sdram_clk" SITE "C8";
